<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Chemical</th>
        </tr>
    </thead>
    <tbody>
        <% @cosmetics.each do |cosmetic| %>
            <tr>
                <td><%= cosmetic.product_name %></td>
                <td><%= cosmetic.chemical %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <%= paginate @cosmetics, remote: true ,param_name: :cosmetic_page_no %>
</ul>