<table>
    <thead>
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Chemical</th>
        </tr>
    </thead>
    <tbody>
        <% @registered_products.each do |product| %>
            <tr>
                <td><%= product.product_name %></td>
                <td><%= product.chemical %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @registered_products, param_name: :registered_page_no %>