<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Chemical</th>
        </tr>
    </thead>
    <tbody>
        <% @registered_products.each do |product| %>
            <tr>
                <td><%= product.product_name %></td>
                <td><%= product.chemical %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <%= paginate @registered_products, remote: true ,param_name: :registered_page_no %>
</ul>